node_modules/
dist/
dist-demo/
coverage/
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.local
.scratch/
.netlify/
dist-crazygames/
dist-poki/
release/
dist-gamedistribution/
dist-gamepix/
dist-y8/
dist-standalone/
